[submodule "dmoj/repo"]
	path = dmoj/repo
	url = https://github.com/jakubpeleska/qqh-site
	branch = master

[submodule "judge/repo"]
	path = judge-server/repo
	url = https://github.com/jakubpeleska/qqh-judge-server
	branch = master

[submodule "dmoj/problems"]
	path = dmoj/problems
	url = https://github.com/jakubpeleska/qqh-problems
	branch = main