[submodule "dmoj/repo"]
	path = dmoj/repo
	url = git@github.com:jakubpeleska/qqh-site.git
	branch = master

[submodule "judge/repo"]
	path = judge-server/repo
	url = git@github.com:jakubpeleska/qqh-judge-server.git
	branch = master

[submodule "dmoj/problems"]
	path = dmoj/problems
	url = git@github.com:jakubpeleska/qqh-problems.git
	branch = main